*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

:root{
    --p-font:1vw;
    --main-blue:#6C63FF;
    --p-color:#202A48;
    font-family:"Poppins", sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:100%;
    padding:2em 2em;
    height:100vh;
    display:flex;
    max-height:1500px;
    max-width:2500px;
}
.status-bar{
    display:none;
}
.col-1{
    width:50%;
    height:100%;
}
.payment{
    min-height:600px;
    min-width:350px;
    height:100%;
    width: 75%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
h1{
    font-size:45px;
}
h2{
    font-size:2vw;
}
h3{
    font-size:1.5vw;
}
p{
    font-size:1vw;
}
.input-radio{
    display:flex;
    width:50%;
    justify-content: space-between;
}
.input-wrapper{
    display:flex;
    align-items:center;
    justify-content: space-around;
    width:50%;
}
.input-card-info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:200px;
}
input[type=text]{
    font-size:1.54vw;
    height: 40px;
    border:none;
    border-bottom:2px solid #707070;
    outline:none;
}

.cvv-code{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.payment-detail-type-2{
    width:45%;
}
.buttons{
    width:100%;
    display:flex;
    justify-content: space-between;
    font-size:1.3vw;
}
.back-btn{
    padding:1em 2em;
    width:30%;
    border: 2px solid var(--main-blue);
    color:var(--main-blue);
    background:white;
    transition:all 0.3s ease;
}
.back-btn:hover{
    background-color: var(--main-blue);
    color:white;
}
.pay-btn{
    padding:2em 2em;
    width:60%;
    color:white;
    background-color: var(--main-blue);
    border:none;
    transition:all 0.3s ease;
    
}
.pay-btn:hover{
    transform:scale(1.05)
}

.col-2{
    display:flex;
    width:50%;
    justify-content: flex-end;
    position:relative;
}
.info{
    width:75%;
    background-color: #E2E1FF;
    padding-top:2em;
    padding-left:1em;
    display:grid;
    grid-template-rows: 1fr 5fr;
    
}

.sub-row-1{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-row-2{
    width:100%;
    height:100%;
    display:flex;
    justify-content: right;
}
.box{
    display:flex;
    justify-content: right;
    width:75%;
    height:100%;
    border-left: 2px solid white;
    padding-top:50%;
    border-top:2px solid white;
}

.svg-container{
    position:absolute;

    width:34.578vw;
    height:25vw;
    bottom:0px;
    left:-100px;
}
svg{
    width:100%;
    height:100%;
}
.visa-svg{
    width:64.282px;
    height:50px;
}
.paypal-svg{
    width:33.76px;
    height:39.88px;
}

input[type=checkbox]{
    width:1.3em;
    height:1.3em;
    border-radius:20px;
    outline:none;
    cursor:pointer;
}
input[type=checkbox]:checked{
    background:var(--main-blue)
}
.card-number-wrapper{
    position:relative;
}
.card-label{
    position:absolute;
    width:75px;
    height:40px;
    right:20px;
    bottom:10px;
}
.card-label::before{
    content:"\f078";
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    position:absolute;
    width:34.5px;
    height:40px;
    right:0px;
    bottom:0px;
    color:white;

}
.payment-detail-type-1{
    width:100%;
    position:relative;
}
.select-wrapper{
    width:100%;
    height:100%;
    position:relative;
}
#pay-select{
    width:100%;
    height:100%;
    opacity:0;
}
.payment-svgs{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
}
.payment-svg{
    height:100%;
    width:40.5px;
    display:none;
}

.payment-svg.is-visible{
    display:block;
}


@media screen and (max-width:940px){
    .svg-container{
        display:none;
    }
    .payment{
        width:100%;
    }
    .input-radio{
        width:100%;
    }
    p{
        font-size:14px;
    }
    input[type=text]{
        font-size:16px;
    }
    .payment-detail-type-2{
        width:45%;
    }
    h1{
        font-size:8vw;
    }
}
@media screen and (max-width:685px){
    .container{
        height:auto;
        flex-direction: column-reverse;
    }
    .col-2{
        width:100%;
        height:200px;
        overflow:hidden;
    }
    .info{
        width:100%;
        grid-template-rows: 1fr;
    }
    h3{
        font-size:16px;
    }
    h2{
        font-size:14px;
    }
    .col-1{
        width:100%;
    }
 
}
@media screen and (max-width:376px){
    .payment{
        min-width:275px;
    }
    .col-2{
        height:150px;
    }
 
}
@media screen and (max-width:376px){
    .payment{
        min-width:50px;
    }
    .col-2{
        height:150px;
    }
 
}




